body {
    font-family: sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}
.logo{
    width:300px;
}
h1{
    color:white;
